a
*.pdf

*.SUNet
*.pyc

data/*

*.pyc
*.mat

examples/my_graph/
examples/graphs/
assignments/graphs/*
*.ipynb_checkpoints
examples/processed/
examples/checkpoints/
examples/improved_graph/
assignments/assignment2/graphs/*
assignments/assignment2/checkpoints/*
assignments/assignment2/outputs/*

examples/checkpoints/*

examples/chatbot/processed/*
examples/chatbot/checkpoints/*
examples/chatbot/data_analysis.py

assignments/chatbot/processed/*
